[submodule "Desafio-Landing-Page---VTEX/new/Development"] 
  path = Desafio-Landing-Page---VTEX/new/Development 
  url = git://https://github.com/EwertonCXavier/Desafio-Landing-Page---VTEX/new/Development
